<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Statistika učenca</title>
    <link rel="stylesheet" href="/static/style.css">
    <style>
        .container {
            text-align: center;
            margin-top: 70px;
        }
        .statistika {
            margin-top: 20px;
            text-align: left;
            display: inline-block;
        }
        .statistika p {
            margin: 5px 0;
        }
    </style>
</head>
<body>
    <header>
        <a href="{{ pridobi_domaca_stran() }}" class="left"><button>Domov</button></a>
        <div class="center"><h1>Statistika učenca {{ime_ucenca}}</h1></div>
        <a href="/odjava" class="right"><button>Odjava</button></a>
    </header>
    <section class="section">
        <div class="container">
            <div class="statistika">
                <p>Število inštrukcij: {{statistika["stevilo_instrukcij"]}}</p>
                <p>Število opravljenih inštrukcij: {{statistika["stevilo_opravljenih"]}}</p>
                <p>Število rezerviranih inštrukcij: {{statistika["stevilo_rezerviranih"]}}</p>
                <p>Število preklicanih inštrukcij: {{statistika["stevilo_preklicanih"]}}</p>
                <p>Skupno število ur: {{ "%.1f" % statistika["skupno_stevilo_ur"] }}</p>
                <p>Število učiteljev: {{statistika["stevilo_uciteljev"]}}</p>
                <p>Število predmetov: {{statistika["stevilo_predmetov"]}}</p>
            </div>
        </div>
    </section>
</body>
</html>