<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Vsi učenci</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <a href="{{ pridobi_domaca_stran() }}"><button>Domov</button></a>
        <a href="/odjava"><button>Odjava</button></a>
    </header>
    <section class="section">
        <div class="container">
            <h1 class="title" class="text-center" style="margin-top: 70px;">
                Vsi učenci
            </h1>
            %if ucenci:
                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th>Ime</th>
                            <th>Priimek</th>
                            <th>E-pošta</th>
                            <th>Termin</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        %for ucenec in ucenci:
                        <tr>
                            <td>{{ ucenec['ime'] }}</td>
                            <td>{{ ucenec['priimek'] }}</td>
                            <td>{{ ucenec['eposta'] }}</td>
                            <td>{{ ucenec['datum'] }}</td>
                            <td>{{ ucenec['status'] }}</td>
                        </tr>
                        %end
                    </tbody>
                </table>
            %else:
                <p>Učitelj nima učencev.</p>
            %end
            <button onclick="history.back()">Nazaj</button>
        </div>
    </section>
</body>
</html>