<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Učitelj</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <a href="{{ pridobi_domaca_stran() }}"><button>Domov</button></a>
        <a href="/odjava"><button>Odjava</button></a>
    </header>
    <section class="section">
        <h1 class="title" class="text-center" style="margin-top: 70px;">
            Pozdravljen/a {{ime_ucitelja}}
        </h1>
        <div class="container">
            <a href="/ucitelji/{{uporabnisko_ime}}/ucenci"><button>Vsi učenci</button></a>
        </div>
    </section>
</body>
</html>