<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Vsi učitelji</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <a href="{{ pridobi_domaca_stran() }}"><button>Domov</button></a>
        <a href="/odjava"><button>Odjava</button></a>
    </header>
    <section class="section">
        <div class="container">
            <h1 class="title" class="text-center" style="margin-top: 70px;">
                Vsi učitelji
            </h1>
            <div class="pagination-buttons">
                <div>
                    %if page > 1:
                        <a href="/admin/vsi_ucitelji?page={{ page - 1 }}"><button data-hover="Prejšnjih 100">←</button></a>
                    %else:
                        <button data-hover="Prejšnjih 100" disabled>←</button>
                    %end
                    %if next_page:
                        <a href="/admin/vsi_ucitelji?page={{ next_page }}"><button data-hover="Naslednjih 100">→</button></a>
                    %else:
                        <button data-hover="Naslednjih 100" disabled>→</button>
                    %end
                </div>
                <span class="pagination-description">Prikazano: {{ (page - 1) * limit + 1 }} - {{ page * limit }}</span>
            </div>
            %if ucitelji:
                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Ime</th>
                            <th>Priimek</th>
                            <th>E-pošta</th>
                        </tr>
                    </thead>
                    <tbody>
                        %for i, ucitelj in enumerate(ucitelji, start=(page - 1) * limit + 1):
                        <tr>
                            <td>{{ i }}</td>
                            <td>{{ ucitelj.ime }}</td>
                            <td>{{ ucitelj.priimek }}</td>
                            <td>{{ ucitelj.eposta }}</td>
                        </tr>
                        %end
                    </tbody>
                </table>
                    <span class="pagination-description">Prikazano: {{ (page - 1) * limit + 1 }} - {{ page * limit }}</span>
                </div>
            %else:
                <p>Ni učiteljev.</p>
            %end
        </div>
    </section>
</body>
</html>