header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f9fa;
}

header .left {
    margin-right: auto;
}

header .right {
    margin-left: auto;
}

header a button {
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

header a.left button {
    background-color: #007bff; /* Modra barva za gumb "Domov" */
}

header a.left button:hover {
    background-color: #0056b3;
}

header a.right button {
    background-color: #dc3545; /* Rdeča barva za gumb "Odjava" */
}

header a.right button:hover {
    background-color: #c82333;
}