header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f8f9fa;
}
header a button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
header a button:hover {
    background-color: #c82333;
}
.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.login-container h1 {
    text-align: center;
}
.login-container label {
    display: block;
    margin-top: 10px;
}
.login-container input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.login-container button:hover {
    background-color: #218838;
}
.error-message {
    color: red;
    text-align: center;
}
.pagination-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.pagination-buttons a {
    text-decoration: none;
}
.pagination-buttons button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    margin-right: 10px;
}
.pagination-buttons button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
}
.pagination-buttons button:hover::after {
    content: attr(data-hover);
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
}
.pagination-description {
    margin: 0 auto;
}